<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kintos</title>
    <meta name="description" content="Prestamos instaneos con recompensas" />
    <meta name="keywords" content="prestamos recompensas gamification" />
    <meta name="author" content="Kintos SAPI de CV" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon-180x180.png">
    
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/favicon/favicon-16x16.png" sizes="16x16">

    <link rel="manifest" href="/static/img/favicon/manifest.json">
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#663fb5">
    <meta name="msapplication-TileImage" content="/static/img/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#663fb5">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

    <!-- Navigation
    ================================================== -->

    <nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="/static/img/logo.png" width="85px">
          <span class="sr-only">Kintos</span>
        </a>
        <a class="navbar-toggler hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingNavbar" aria-expanded="false" aria-controls="collapsingNavbar">
          &#9776;
        </a>
        <a class="navbar-toggler navbar-toggler-custom hidden-md-up pull-xs-right" data-toggle="collapse" href="#collapsingMobileUser" aria-expanded="false" aria-controls="collapsingMobileUser">
          <span class="icon-user"></span>
        </a>
        <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item nav-item-toggable active">
              <a class="nav-link" href="./index.html"> kintos <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="#">Contacto</a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link" href="#" target="_blank"> ¿Preguntas? </a>
            </li>
            <li class="nav-item nav-item-toggable">
              <a class="nav-link btn" href="http://www.kintosapp.com/login" target="_blank"> Iniciar sesión </a>
            </li>   
        </div>
      </div>
    </nav>

    <!-- Hero Section
    ================================================== -->

    <header id="landioCarousel" class="carousel carousel-header slide bg-inverse" data-ride="carousel" data-interval="0" role="banner">
      <ol class="carousel-indicators">
        <li data-target="#landioCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#landioCarousel" data-slide-to="1"></li>
        <li data-target="#landioCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url(/static/img/bg-header.jpg);">
          <div class="carousel-caption">
            <h2 class="display-3">¿Cuánto dinero te falta?</h2>
            <h3 class="m-b-3 hidden-sm-down">Prestamos instantáneos con recompensas </h3>
            <a class="btn btn-secondary-outline m-b-2" href="#introduction" role="button">Comienza ahora</a>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url(/static/img/bg-header-3.jpg);">
          <div class="carousel-caption">
            <h1 class="display-3">¿Estás de fiesta?</h1>
            <h2 class="m-b-3 hidden-sm-down"><b>Préstamos </b>instantáneos cuando más lo necesitas<a href="index.html" class="jumbolink"></a>.</h2>
            <a class="btn btn-primary-outline m-b-2" href="#introduction" role="button"> Comienza ahora</a>
          </div>
        </div>
        <div class="carousel-item" style="background-image: url(/static/img/bg-header-2.jpg);">
          <div class="carousel-caption">
            <h1 class="display-3" style="color:#8bc34a;">Disfruta con tus amigos</h1>
            <h2 class="m-b-3 hidden-sm-down">Que nada te detenga<a href="" class="jumbolink"></a>.</h2>
            <a class="btn btn-warning m-b-2" href="#introduction" role="button"> Comienza ahora</a>
          </div>
        </div>
        <ul class="nav nav-inline social-share">
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-twitter"></span></a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/kintoslatam"><span class="icon-facebook"></span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-linkedin"></span></a></li>
        </ul>
      </div>
    </header>

    <!-- Intro
    ================================================== -->

    <section class="section-intro bg-faded text-xs-center">
      <div class="container" id="introduction">
        <h1>Presentamos Kintos</h1>
        <h2 class="wp wp-1">Nuestro nuevo esquema de préstamos te permite obtener el dinero que necesitas al instante y recibir increíbles beneficios por alcanzar tus metas.</h2>
           <br><br>
        <!--<h3 class="wp wp-2">La aplicación que te ofrece préstamos justo <br> en el instante que lo requieres .</h3>-->
        <!--<img src="img/mock.png" alt="iPad mock" class="img-fluid wp wp-3">-->
      </div>
    </section>

    <!-- Features
    ================================================== -->

    <section class="section-features text-xs-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <img src="/static/img/interest.png" width="225px">
                <h4>Intereses bajos</h4>
                <!--<h6 class="card-subtitle text-muted">UI Elements</h6>-->
                <p class="card-text">Comprueba que nosotros tenemos tarifas más bajas que los bancos e incluso que otras páginas de préstamos en línea.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <img src="/static/img/gamification.png" width="225px">
                <h4>Alcanza metas</h4>
                <!--<h6 class="card-subtitle text-muted">Modern design</h6>-->
                <p class="card-text">Queremos que alcances tu metas, por eso te regalamos descuentos y promociones en tiendas, restaurantes y cafeterías de tu preferencia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card m-b-0">
              <div class="card-block">
                <img src="/static/img/city.png" width="225px">
                <h4>Más fácil</h4>
                <!--<h6 class="card-subtitle text-muted">Forever and ever</h6>-->
                <p class="card-text">Te acompañamos durante todo el proceso y si te retrasas no te penalizamos. Además puedes pagar en tiendas de auto servicio, bancos y más lugares.</p>
              </div>
            </div>
          </div>
        </div>
        <br><hr>
      </div>
    </section>

    <section class="section-news">
      <div class="container">
        <!--<h1 align="center"><span class="fa fa-rocket"></span> Descubre como lo hacemos</h1><br>-->
        <div class="bg-inverse">
          <div class="row">
            <div class="col-md-6 p-r-0" align="right"> 
               <img src="/static/img/preview1.png" width="285px" alt="App1" class="img-fluid">              
            </div>
            <div class="col-md-6 p-l-0" align="left">
              <article class="center-block">
                <span class="label label-info">La mejor opción</span>
                <br>
                <h5><a href="#"><span class="fa fa-chevron-left"></span> &nbsp;&nbsp;&nbsp; Menos problemas que otros</a></h5>
                <br>
                <p class="m-b-0">
                  <a href="#"><span class="label label-default text-uppercase"><span class="fa fa-tag"></span> Disponible 24/7 los 365 días</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-time"></span> Transferimos en 5 minutos o menos</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="icon-tag"></span> Plazos flexibles e interés cada vez menor</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="fa fa-calendar"></span> Sin comisiones mensuales ni por pagos anticipados </span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="fa fa-book"></span> Comienza a generar historial crediticio</span></a>
                </p>
              </article>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-push-6 p-l-0">
              <img src="/static/img/preview2.png" width="285px" alt="App2" class="img-fluid">              
            </div>
            <div class="col-md-6 col-md-pull-6 p-r-0" align="right">
              <article class="center-block">
                <span class="label label-info">Detalles únicos</span>
                <br>
                <h5><a href="#">Pensamos en tí &nbsp;&nbsp;&nbsp; <span class="fa fa-chevron-right"></span></a></h5>
                <br>
                <p class="m-b-0">
                  <a href="#"><span class="label label-default text-uppercase"><span class="fa fa-gift"></span> Descuentos y regalos en tiendas y comercios</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="fa fa-volume-control-phone"></span> Atención personalizada</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="fa fa-user"></span> Un amigo un préstamo gratis</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="fa fa-briefcase"></span> Podrás convertirte en el inversionista</span></a>
                  <a href="#"><span class="label label-default text-uppercase"><span class="fa fa-graduation-cap"></span> Recibe tips y consejos financieros desde la app</span></a>
                </p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Sign Up
    ================================================== -->

    <section class="section-signup bg-faded">
      <div class="container">
        <h3 class="text-xs-center m-b-3">Registrate ahora para saber cuando esté listo <br> y te regalaremos tu primer préstamo sin interés </h3>
        <form>
          <div class="row">
            <div class="col-md-6 col-xl-4">
              <div class="form-group has-icon-left form-control-name">
                <label class="sr-only" for="inputName">¿Tu nombre?</label>
                <input type="text" class="form-control form-control-lg" id="inputName" placeholder="¿Tu nombre?">
              </div>
            </div>
            <div class="col-md-6 col-xl-4">
              <div class="form-group has-icon-left form-control-email">
                <label class="sr-only" for="inputEmail">¿Tu correo?</label>
                <input type="email" class="form-control form-control-lg" id="inputEmail" placeholder="¿Tu correo?" autocomplete="off">
              </div>
            </div>            
            <div class="col-md-6 col-xl-4">
              <div class="form-group">
                <button type="submit" class="btn btn-warning btn-block">Registrame ahora!</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!-- Footer
    ================================================== -->

    <footer class="section-footer bg-inverse" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <div class="media">
              <div class="media-left">
                <img src="/static/img/logo.png" width="50px">
                <!-- <span class="media-object icon-logo display-1"></span> -->
              </div>
              <small class="media-body media-bottom">
                &copy; Kintos SAPI de CV 2017. <br>
                ayuda@kintosapp.com
                </small>
            </div>
          </div>
          <div class="col-md-6 col-lg-7">
            <ul class="nav nav-inline">              
              <li class="nav-item active"><a class="nav-link" href="#">Contacto</a></li>
              <li class="nav-item"><a class="nav-link" href="#" target="_blank">¿Preguntas?</a></li>
              <li class="nav-item"><a class="nav-link scroll-top" href="#totop">Regresar arriba <span class="icon-caret-up"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<script src="js/landio.min.js"></script>-->
  </body>
</html>
