{% extends "layout.html" %}

{% block content %}

<link href="{{ url_for('static', filename='css/styles_invertir.css') }}" rel="stylesheet">

<div id="page-wrapper">
  
  <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              <i class="fa fa-cloud-upload"></i>
              Invertir</h1>
        </div>
    </div>
    <div class="container">
      {% if investAccepted %}
        <div class="alert alert-success" role="alert"> {{ investAccepted }}</div>
      {% endif %}
      {% if message %}
        <div class="alert alert-danger" role="alert"> {{ message }}</div>
      {% endif %}
        <div class="caja">
            <form class="form-horizontal form-pricing" role="form" action="/invest" method="POST">
                <div class="caja-slider">
                    <h4 class="grande">Cantidad</h4>
                    <span>El cantidad mínima es de 1000</span>
                    
                    <div class="col-sm-12">
                         <div id="slider"></div>
                    </div>
                    
                  </div>
                  
                  <div class="caja-slider">
                    <h4 class="grande">Duración</h4>
                    <span>El mínimo es de 1 semana</span>
                    <div class="col-sm-12">
                      <div id="slider2"></div>
                    </div>
                  </div>

                  <div class="precio-form">
                    <div class="form-group">
                      <label for="cantidad" class="col-sm-6 control-label">Cantidad ($): </label>
                      <div class="col-sm-6">
                        <input type="hidden" id="cantidad" name="amount" class="form-control">
                        <p class="precio lead" id="cantidad-label"></p>
                        <span class="precio">.00</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="duracion" class="col-sm-6 control-label">Duración: </label>
                      <div class="col-sm-6">
                        <input type="hidden" id="duracion" name="duration" class="form-control">
                        <p class="precio lead" id="duracion-label"></p>
                        <span class="precio">Semanas</span>
                      </div>
                    </div>
                    <hr class="style">
                    <div class="form-group total">
                      <label for="total" class="col-sm-6 control-label"><strong>Total Semanal: </strong></label>
                      <div class="col-sm-6">
                        <input type="hidden" id="total" name="total" class="form-control">
                        <p class="precio lead" id="total-label"></p>
                      </div>
                    </div>

                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary btn-lg btn-block"> Solicitar <span class="glyphicon glyphicon-chevron-right pull-right" style="padding-right: 10px;"></span></button>
                    </div>
                  </div>

                </form>
          </div>
        </div>
    </div>
{% endblock %}