{% extends "layout.html" %}

{% block content %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Movimientos Recientes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-log-12">
            <div class="list-group">
                <a href="#" class="list-group-item"> Prestamo por 1500 con una duracion de dos semanas
                <span class="pull-right text-muted small"><em>Hace 40 minutos</em>
                </span>
                </a>
                <a href="#" class="list-group-item"> Inversion realizada por 1000, el equipo de Kintos te agradece tu apoyo!!
                <span class="pull-right text-muted small"><em>Hace 2 dias</em>
                </span>
                </a>
                <a href="#" class="list-group-item"> Prestamo por 1000 con una duracion de semana semanas
                <span class="pull-right text-muted small"><em>Hace 8 dias</em>
                </span>
                </a>
                <a href="#" class="list-group-item"> Prestamo por 1500 con una duracion de semana semanas
                <span class="pull-right text-muted small"><em>Hace 18 dias</em>
                </span>
                </a>
                <a href="#" class="list-group-item"> Inversion realizada por 2500, el equipo de Kintos te agradece tu apoyo!!
                <span class="pull-right text-muted small"><em>Hace 20 dias</em>
                </span>
                </a>
            </div>
        </div>
    </div>
    
    
</div>


{% endblock %}