{% extends "layout.html" %}

{% block content %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Movimientos Recientes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-log-12">
            <ul class="list-group">
                {% if loans %}
                    {% for loan in loans%}
                        <li class="list-group-item list-group-item-success"> Prestamo por {{ loan[1]['total'] }} con una duracion de {{ loan[1]['duration'] }} semanas con estado de {{ loan[1]['state'] }}
                        <span class="pull-right text-muted small"><em>{{ loan[1]['date'] }}</em>
                        </span>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if invests %}
                    {% for invest in invests %}
                        <li class="list-group-item list-group-item-info"> Prestamo por {{ invest[1]['total'] }} con una duracion de {{ invest[1]['duration'] }} semanas con estado de {{ invest[1]['state'] }}
                        <span class="pull-right text-muted small"><em>{{ invest[1]['date'] }}</em>
                        </span>
                        </li>
                    {% endfor %}
                {% else %}
                    <li  class="list-group-item"> Prestamo por 1000 con una duracion de semana semanas
                    <span class="pull-right text-muted small"><em>Hace 8 dias</em>
                    </span>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>


{% endblock %}