{% extends "layout.html" %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Aquí comienza el juego</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

    <div class="container ">
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                  <h3 class="panel-title">
                        <a href="#" class="ing">¿Cómo funciona Kintos?</a>
                  </h3>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h4><span class="label label-primary">Respuesta</span></h4>
    
                        <p>Kintos es la plataforma donde puedes realizar prestamos</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default ">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                     <h4 class="panel-title">
                        <a href="#" class="ing">¿Es seguro?</a>
                  </h4>
    
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                         <h5><span class="label label-primary">Respuesta</span></h5>
    
                        <p>Si, nos esforzamos por hacer el sistema lo mas seguro posible</p>
                    </div>
                </div>
            </div>
            
            
        </div>
    <!--/panel-group-->
</div>
{% endblock %}
